[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/lukaszgradzik
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lukaszgradzik
	label-Verified = -1..+1 group user/lukaszgradzik
	push = group user/lukaszgradzik
	read = group user/lukaszgradzik
	rebase = group user/lukaszgradzik
	removeReviewer = group user/lukaszgradzik
	submit = group user/lukaszgradzik
[access "refs/heads/*"]
	create = group user/lukaszgradzik
	push = +force group user/lukaszgradzik
	pushMerge = group user/lukaszgradzik
	read = group user/lukaszgradzik
[access "refs/tags/*"]
	push = group user/lukaszgradzik
	push = +force group user/lukaszgradzik
